.DS_Store
resources/*
public/*
.ipynb_checkpoints/
*.csv
Untitled**.ipynb
slides/reveal.js/
slides/gen/
./reveal.js
slides.md
.hugo_build.lock
.Rhistory
**.ipynb_checkpoints**
**slides_files**
**node_modules**
**package-lock.json**

/.quarto/
